.font-indie-flower {
	font-family: Indie Flower, sans-serif;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background: radial-gradient(
		circle at bottom left,
		#ffffff 58%,
		rgb(240 253 244 / var(--tw-bg-opacity, 1)) 42%
	);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 768px) {
	body {
		background: radial-gradient(
			circle at bottom left,
			#ffffff 77%,
			rgb(240 253 244 / var(--tw-bg-opacity, 1)) 23%
		);
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(105, 230, 153);
	border-radius: 6px;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
